header
	.container
		.row.justify-content-between.icon-margin
			.col-2
				.menu-btn
					img(src=require('../../img/menu.svg'))
			.col-2
				.basket
					a(href="basket.html")
						div.basket-icon
							span.js-basket-item 3
		.row
			.col-2.no-r-padding
				a(href="catalog.html")
					.back-arrow
						a(href="catalog.html")
							img(src=require('../../img/back_arrow.svg'))
			.col-8
				.page-title
					h3 Корзина
			.col-2
include sub-blocks/menu.pug