.container
	a(href="catalog-menu.html").js-catalog-menu
		.catalog-border
			span.catalog-link Каталог товаров
	
	.category-slider
		ul.category-slider-ul
			li.category-slider-li
				a.category-slider-link(href="#") Санки-коляски
			li.category-slider-li
				a.category-slider-link(href="#") Детские коляски-коляски 3 в 1
			li.category-slider-li
				a.category-slider-link(href="#") Санки-коляски
	.sortby
		ul.sortby-ul
			li.sortby-li
				span Сортировать по:
			li.sortby-li
				a.sortby-link(href="#") Цена
			li.sortby-li
				a.sortby-link(href="#") Наименование
			li.sortby-li
				a.sortby-link(href="#") Артикул
	.row.justify-content-center
		.goods-cards
			.col-12
				.card
					a.card-title(href="product-card.html") Трехколесный велосипед Puky Fitsch (Пуки Фитч)
					img.card-image(src=require('../../img/bike.png'))
					span.card-price 5790 руб
					.card-buy
						a.card-buy-link(href="#") Купить
					img.bird(src=require('../../img/bird.png'))
			.col-12
				.card
					a.card-title(href="product-card.html") Трехколесный велосипед Puky Fitsch (Пуки Фитч)
					img.card-image(src=require('../../img/bike.png'))
					span.card-price 5790 руб
					.card-buy.card-buy-green
						a.card-buy-link(href="#") Купить
					img.bird(src=require('../../img/bird.png'))
	.row.justify-content-center
		.col-12
			.page-num
				ul
					li.cur-page
						a(href="#")
							span 1
					li
						a(href="#") 2
					li
						a(href="#") 3
	#slider