footer
	.container
		.row
			.col-6
				.footer-info
					.p-circle
					.contact-details
						span Контакты
						p Тел: 8 (812) 929-83-98
						p E-mail: info@fancy-mama.ru
						p Проспект Обуховской Обороны, д.70,
						p к.2 БЦ, офис 1-4 Н.
			.col-6
				.footer-rating
					a(href="#") Полная версия
					img(src=require('../../img/rating.jpg'))
			.col-12
				.socials
					a(href="#")
						img(src=require('../../img/inst.svg'))
					a(href="#")
						img(src=require('../../img/yt.svg'))
					a(href="#")
						img(src=require('../../img/vk.svg'))
			.col-12
				.data-proc
					a(href="#") Политика в отношении обработки персональных данных

