.reviews
	.container
		.row
			.col-6
				.reviews-title
					h3 Отзывы
			.col-6
				.post-reviews
					a(href="#") Оставить отзыв
		.row
			.col-12
				.last-reviews
					.review
						.date-time
							span.date 07 июня 2016
							span.time 16:26
						.review-text
							p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima fugit ipsam sunt suscipit, quod quae error, aliquam eos cumque enim culpa consectetur excepturi facere fugiat debitis a in!
		.y-circle
		

