html(lang="en")
	include includes/head.pug
body
	include blocks/header.pug

	include blocks/catalog.pug

	div.relative
		include blocks/reviews.pug
		include blocks/sub-blocks/post-review.pug
		include blocks/novelties.pug

	include blocks/footer.pug

	include includes/scripts.pug