.slider-container{
	width: 100%;
	overflow: hidden;
	.slider-wrapper{
		position: relative;
		list-style: none;
		margin:0;
		padding:0;
	}
	.slider-item{
		width: 100%;
	}
	.slider-img{
		min-width: 100%;
		max-width: 100%;
		max-height: 100%;
	}

	.slick {
		&-arrow {
			background: url(../img/slider_arrow.png) no-repeat;
			background-size: 80px;
			width: 40px;
			height: 65px;
			overflow: hidden;
			border: none;
			text-indent: -100rem;
			outline: none;
			cursor: pointer;
			position: absolute;
			z-index: 10;
			display: block;
			top: 50%;
			margin-top: -25px;
			opacity: 0;
		}
		&-next {
			right: 0;
			background-position: right;
		}
		&-prev {
			left: 0;
			background-position: left;
		}
	}

	&:hover .slick-arrow{
		opacity: 1;
	}
}

.catalog-border {
	border-radius: 50px;
	margin: 15px 0;
	background-color: $purple;
	text-align: center;
	padding: 3px 0;
	.catalog-link {
		text-decoration: none;
		font-size: 1.1rem;
		color: #fff;
		transition-timing-function: ease-in-out;
	}
}