.catalog {
	.catalog-border {
		border-radius: 50px;
		margin: 15px 0;
		background-color: $purple;
		text-align: center;
		padding: 5px;
		.catalog-link {
			text-decoration: none;
			font-size: 18px;
			color: #fff;
			transition-timing-function: ease-in-out;
		}
	}
	.slider-container {
		width: 100%;
		border-radius: 3px;
		position: relative;
		overflow: hidden;
		display: table;
		margin-bottom: 25px;
		ul.slider-wrapper {
			width: 500%;
			top: 0;
			left: 0;
			margin: 0;
			padding: 0;
			transition: 1s;
			li.slider-item {
				margin: 0;
				padding: 0;
				width: calc(100%/5);
				list-style: none;
				display: inline;
				float: left;
				img.slider-img {
					width: 100%;
				}
			}
		}
	}
}