.js-catalog-menu {
	margin-bottom: 15px;
}
.cat-menu {
	transition: .5s;
	opacity: 0;
	position: absolute;
	left: -110%;
	.cat-menu-top {
		height: 40px;
		background-image: url(../img/catmenu_top.png);
		background-position: bottom;
		background-size: contain;
		background-repeat: no-repeat;
	}
	.wrap {
		display: flex;
		justify-content: center;
		.cat-menu-content {
			margin-bottom: 20px;
			width: 300px;
			background: linear-gradient(to bottom, #FFFDF4, #FFF9D6);
			border-radius: 0 0 20px 20px;
			ul#cat-menu {
				margin-bottom: 20px;
				li {
					span {
						padding-left: 50px;
						margin: 15px 0;
						position: relative;
						color: $purple;
						cursor: pointer;
						&:hover {
							color: $green;
							text-decoration: underline;
						}
						&:before {
							position: absolute;
							content: " ";
							left: 20px;
							top: 0;
							width: 10px;
							height: 15px;
							background-image: url(../img/gr_right.svg);
							background-repeat: no-repeat;
							background-position: center;
						}
					}
					ul {
						font-size: 0.857142857rem;
						background: #F2F1FD;
						width: 100%;
						list-style: none;
						padding: 0;
						li {
							padding: 14px 0 0 50px;
							position: relative;
							&:before {
								position: absolute;
								content: " ";
								left: 21px;
								top: 20px;
								width: 6px;
								height: 6px;
								background-image: url(../img/ul_point.svg);
								background-repeat: no-repeat;
								background-position: center;
							}
							&:last-child {
								padding-bottom: 14px;
							}
							a {
								color: $purple;
								cursor: pointer;
								&:hover {
									color: $green;
									text-decoration: underline;
								}
							}
						}
					}
				}
				list-style: none;
				padding: 0;
			}
		}
	}
}
.js-cat-menu-show {
	position: relative !important;
	left: 0%;
	opacity: 1;
}
.category-slider {
	margin-bottom: 20px;
	ul {
		margin: 0;
		padding: 8px 0;
		overflow: hidden;
		overflow-x: auto; 
		list-style: none;
		width: 110%;
		font-family: 'Comfortaa-Bold';
		font-size: 0.6125rem;
		white-space: nowrap;
		li {
			position: relative;
			font-size: 0.857142857rem;
			display: inline;
			margin-right: 10px;
			cursor: pointer;
			background-color: $purple;
			padding: 4px 0 4px 12px;
			border: 1px solid $purple;
			border-radius: 15px;
			&:before {
				content: ' ';
				position: absolute;
				width: 6px;
				height: 6px;
				background-color: #E3E1F5;
				border-radius: 15px;
				left: 5px;
				top: 3px;
			}
			&:last-child {
				margin-right: 0;
			}
			a {
				padding: 4px 10px;
				background-color: #E3E1F5;
				border: 1px solid $purple;
				border-radius: 15px;
				color: $purple;
				&:hover {
					color: $green;
					border: 1px solid $green;
				}
			}
		}
	}

}
.sortby {
	ul {
		padding: 0;
		margin-bottom: 15px;
		list-style: none;
		width: 100%;
		font-size: 0.6125rem;
		li {
			text-transform: lowercase;
			color: $purple;
			display: inline;
			margin-right: 10px;
			&:last-child {
				margin-right: 0;
			}
			a {
				font-size: 0.6125rem;
				color: $purple;
				text-decoration: underline;
				cursor: pointer;
			}
		}
	}
}
.goods-cards {
	.card {
		box-shadow: 0 0 4px rgba(0,0,0,0.2);
		border-radius: 25px;
		background-color: #fff;
		padding: 20px;
		align-items: center;
		font-family: 'Comfortaa-Bold';
		margin-bottom: 25px;

		&-image { 
			max-width: 100px;
			max-height: 100px;
			width: auto;
			height: auto;

		}
		&-title {
			color: $purple;
			font-size: 1rem;
			text-align: center;
			
		}
		&-price {
			margin: 10px 0;
			color: $price;
			font-size: 1.14rem;
		}
		&-buy {
			font-family: 'Comfortaa';
			background-color: $purple;
			padding: 3px 20px;
			border-radius: 15px;
			a {
				font-size: 1rem;
				color: #fff;
				cursor: pointer;
			}
			&:hover {
				background-color: $green;
			}
		}
		.bird {
			display: none;
		}
	}
}
.page-num {
	ul {
		display: flex;
		justify-content: center;
		padding: 0;
		margin-bottom: 15px;
		list-style: none;
		width: 100%;
		
		li {
			color: $purple;
			display: inline-block;
			margin-right: 10px;
			width: 24px;
			border-radius: 15px;
			text-align: center;
			&:last-child {
				margin-right: 0;
			}
			a {
				font-size: 1rem;
				color: $purple;
				text-decoration: underline;
				cursor: pointer;
			}
			&.cur-page {
				background-color: $green;
				a {
					color: #fff;
					text-decoration: none;
				}
			}

		}
	}
}