@font-face {
	font-family: "Comfortaa-Bold";
	src : url("../fonts/Comfortaa/Comfortaa-Bold.ttf");
}
@font-face {
	font-family: "Comfortaa-Light";
	src : url("../fonts/Comfortaa/Comfortaa-Light.ttf");
}
@font-face {
	font-family: "Comfortaa";
	src : url("../fonts/Comfortaa/Comfortaa-Regular.ttf");
}

@font-face {
	font-family: "PTSans-Bold";
	src : url("../fonts/PT_Sans/PT_Sans-Web-Bold.ttf");
}
@font-face {
	font-family: "PTSans-BoldItalic";
	src : url("../fonts/PT_Sans/PT_Sans-Web-BoldItalic.ttf");
}
@font-face {
	font-family: "PTSans-Italic";
	src : url("../fonts/PT_Sans/PT_Sans-Web-Italic.ttf");
}
@font-face {
	font-family: "PTSans";
	src : url("../fonts/PT_Sans/PT_Sans-Web-Regular.ttf");
}