@import 'menu.scss';

header {
	position: relative;
	padding-top: 20px;
	.menu-btn {
		padding-top: 5px;
		img {
			width: 20px;
			height: 18px;
		}
	}
	.basket {
		padding-top: 5px;
		.basket-icon {
			position: relative;
			width: 30px;
			height: 33px;
			background-image: url(../img/basket.svg);
			background-repeat: no-repeat;
			.js-basket-item {
				position: absolute;
				color: $green;
				font-size: 10px;
				z-index: 2;
				top: 1px;
				right: 5px;
			}
		}
	}
	.search {
		width:100%;
		padding: 5px;
		border-radius: 50px;
		border: 2px solid #A099C1;
		background-color: #fff;
		input {
			border: none;
			outline: none;
		}
		.search-btn {
			background-image: url(../img/search.svg);
			background-repeat: no-repeat;
			background-color: #fff;
			background-position: center;
			width: 30px;
			background-size: 65%;
			border-radius: 30px 0 0 30px;
		}
		.search-input {
			color: #A099C1;
			font-size: 13px;
			width: 78%;
			border-radius: 0 30px 30px 0;

		}
	}
}