.menu-wrapper {
	position: relative;
	background-color: #FBFBFF;
	width: 270px;
	min-height: 100%;
	.menu-back {
		margin-bottom: 45px;
		.back-btn {
			background-color: #fff;
			width: 45px;
			height: 40px;
			outline: none;
			border: none;
			padding: 25px 0 0 20px;

		}
	}
	.menu-call {
		text-align: center;
		margin-bottom: 20px;
		padding: 0 20px;
		.call-btn {
			width: 100%;
			color: #A099C1;
			border-radius: 50px;
			border: 2px solid #A099C1;
			background-color: #FBFBFF;
			outline: none;
			cursor: pointer;

			img {
				text-align: center;
				width: 15px;
				height: 30px;
			}
			.call-number {
				vertical-align: middle;
				margin: 0 30px 0 15px;
				color: #A099C1;
				text-decoration: none;
			}
			&:hover {
				border: 2px solid #756CBC;
				color: #756CBC;
			}
		}
	}
	nav.menu {
		ul {
			margin-bottom: 0;
			list-style: none;
			padding: 0 20px;
			li {
				margin-bottom: 15px;
				&:last-child {
					margin-bottom: 0;
				}
				a {
					text-decoration: none;
					color: #646173;
					cursor: pointer;
					&:hover {
						color: #65A601
					}
				}
			}
		}
	}
}
.menu-bg {
	z-index: 1000;
	opacity: 0;
	position: fixed;
	background-color: rgba(0,0,0,.5);
	width: 100%;
	height: 100%;
	top:0;
	left: -100%;
	overflow: hidden;
	overflow-y: scroll;
	transition: .25s;
}
.menu-open {
	left: 0;
	display: block;
	opacity: 1;
}