@import 'post-review';

.relative {
	position: relative;
	overflow: hidden;
	.reviews {
		margin-bottom: 20px;
		.y-circle {
			position: absolute;
			top: 60%;
			left: 70%;
			background-color: #FFF9D5;
			border-radius: 100px;
			width: 152px;
			height: 152px;
			z-index: -1;
		}
		.reviews-title {
			a {
				text-decoration: none !important;
				text-decoration-color: $purple;
				&:hover {
					text-decoration: underline;
				}
			}
			h3 {
				font: {
					size: 16px;
					weight: bold;
					family: Arial;
				}
				line-height: 1.8;
				color: $purple;
			}
		}
		.post-reviews {
			text-align: right;
			.post-reviews-btn {
				display: inline-block;
				cursor: pointer;
				font: {
					size: 14px;
					family: Arial;
				}

				color: $purple;
				line-height: 1.8;
				&:hover {
					color: #65A601;
				}
			}
		}
		.last-reviews {
			.review {
				display: none;
				opacity: 0;
				background-color: #fff;
				border: 2px solid #A099C2;
				border-radius: 25px;
				padding: 18px 13.5px 30px 13.5px;
				font-size: 0.75rem;
				.date-time {
					font-family: 'Comfortaa-Bold', sans-serif;
					margin-bottom: 5px;
					color: $purple;
					.date {
						margin-right: 15px;
					}
				}
				p {
					margin: 0;
					color: #000;
				}
			}
			.curRev {
				display: block;
				opacity: 1;
			}
		}
	}
}