@import 'vars.scss';
@import 'media.scss';
@import 'fonts.scss';
@import 'header.scss';
@import 'catalog.scss';
@import 'reviews.scss';
@import 'novelties.scss';
@import 'footer.scss';


body {
	font-family: 'Comfortaa', cursive;
	background-color: $bgc;
	background-image: url('../img/bg.png');
	background-position: top;
	background-repeat: no-repeat;
	background-size: 200%;
}